*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.timer_container{
  border: 1px solid white;
  padding: 50px;
  border-radius: 10px;
}
.timer_container h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.timer_display{
  font-size: 80px;
  margin-bottom: 10px;
  text-align: center;
}
.timer_controls{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.btn{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61dafb;
  color: black;
  font-weight: 500;
  margin: 25px;
}